@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {

  border: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.font-wei-400 {

  font-weight: 400;
}

.font-wei-500 {

  font-weight: 500;
}

.font-wei-600 {

  font-weight: 600;
}

.font-wei-800 {

  font-weight: 800;
}

.font-wei-900 {

  font-weight: 900;
}

.font-wei-bold {

  font-weight: bold;
}

.font-wei-bolder {

  font-weight: bolder;
}

.font-wei-lighter {
  
  font-weight: lighter;
}

.para-big {

  font-size: 18px;
}

.para-small {

  font-size: 14px;
}

.para-normal {

  font-size: 16px;
}

.head-small {

  font-size: 22px;
}

.head-normal {

  font-size: 28px;
}

.head-big {
 
  font-size: 34px;
}

.icon-font-normal {

  font-size: 16px;
}

@media screen and (max-width: 967px) {
  
  .para-big {

    font-size: 16px;
  }

  .para-normal {
    font-size: 14px;
  }

  .para-small {

    font-size: 12px;
  }

  .head-small {

    font-size: 18px;
  }

  .head-normal {

    font-size: 24px;
  }

  .head-big {
  
    font-size: 30px;
  }

  .icon-font-normal {

   font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  
  .para-big {

    font-size: 14px;
  }

  .para-normal {
    font-size: 12px;
  }

  .para-small {

    font-size: 10px;
  }

  .head-small {

    font-size: 16px;
  }

  .head-normal {

    font-size: 22px;
  }

  .head-big {
  
    font-size: 28px;
  }

  .icon-font-normal {

   font-size: 12px;
  }
  
}

@media screen and (max-width: 575px) {
  
  .para-big {

    font-size: 12px;
  }

  .para-normal {
    font-size: 10px;
  }

  .para-small {

    font-size: 8px;
  }

  .head-small {

    font-size: 14px;
  }

  .head-normal {

    font-size: 18px;
  }

  .head-big {
  
    font-size: 22px;
  }

  .icon-font-normal {

   font-size: 10px;
  }
}

