:root {
    
  --header-h: 85px;   
}

.headerdiv {

    height: 85px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.headermain {

    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerdetails {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.logoname {

    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {

    background-color: #ffc934;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
}

.seachbar {

    padding: 6px 34px 6px 10px;
    border-radius: 5px;
    width: 250px;
    height: 25px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.headersearchbar {

    position: relative;
}

.fa-magnifying-glass {

    position: absolute;
    right: 10px;
    top: 10px;
    color: #424242;
    transition: all .7s ease;
}

.fa-magnifying-glass:hover {

    cursor: pointer;
    color: #000000;
}

.seachbar:focus {

    outline: none;
}

.headerthirdsection {

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.headeratxt {

    text-decoration: none;
    color: #28283C;
    transition: all 0.7s ease;
    cursor: pointer;
}

.headeratxt:hover {

    color: #FFC934;
}

.details-icon {

    display: none;
}

.active-icon {

    color: #FFC934 !important;
    transition: all 0.7s ease;
}



@media screen and (max-width: 1500px) {
    
   
}

@media screen and (max-width: 1199px) {

    .seachbar {

        width: 150px;
    }

    .headerdetails  {

        width: 230px;
    }
    
}

@media screen and (max-width: 991px) {

    :root {

        --header-h: 65px;
        --sidebar-w: 250px;
    }
    
    .headerdiv {

        height: 65px;
    }

    .logo {

        padding: 8px;
        font-size: 26px;
    }

    .headerdetails {

        display: none;
    }

    .headerlogo {

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .fa-align-left {

        cursor: pointer;
        color: #424242;
        transition: all .7s ease;
        font-weight: bold;
        font-size: 26px;
        transition: all 0.7s ease;
    }

    
    .details-icon {

        display: block;
    }

    .sidebar {
    
        visibility: visible;
    }

    .fa-magnifying-glass {

        top: 11px;
    }
    
    .sidebar {

        position: fixed;
        width: 250px;
        height: 100%;
        top: 102px;
        left: 0px;
        z-index: 9999;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    .outlay {

        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 765px) {
    
    :root {

        --header-h: 60px;
    }

    .headerdiv {

        height: 60px;
    }

    .fa-magnifying-glass {

        top: 11px;
    }

    .seachbar {

        height: 20px;
        width: 120px;
    }

    .fa-align-left {

        font-size: 22px;
     }

     .sidebar {

        top: 89px;
     }
}

@media screen and (max-width: 575px) {
    
    :root {

        --sidebar-w: 220px;
    }

    .headerthirdsection {

        gap: 15px;
     }

    .fa-align-left {

        font-size: 18px;
     }
     
    .headersearchbar {

        display: none;
     }

    .seachbar {

        height: 15px;
        width: 90px;
    }

    .fa-magnifying-glass {

        top: 8px;
    }

    .logo {

        font-size: 20px;
    }

    .headerlogo {

        gap: 15px;
    }

    .sidebar {

        top: 83px;
        width: 220px;
     }
}

