.headerdiv {

    height: 85px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headermain {

    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerdetails {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.logoname {

    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {

    background-color: #ffc934;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
}

.seachbar {

    padding: 6px 34px 6px 10px;
    border-radius: 5px;
    width: 250px;
    height: 25px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.headersearchbar {

    position: relative;
}

.fa-magnifying-glass {

    position: absolute;
    right: 10px;
    top: 10px;
    color: #424242;
    transition: all .7s ease;
}

.fa-magnifying-glass:hover {

    cursor: pointer;
    color: #000000;
}

.seachbar:focus {

    outline: none;
}

.headerthirdsection {

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.headeratxt {

    text-decoration: none;
    color: #28283C;
    transition: all 0.7s ease;
    cursor: pointer;
}

.headeratxt:hover {

    color: #FFC934;
}




@media screen and (max-width: 1500px) {
    
   
}

@media screen and (max-width: 1199px) {
    .seachbar {

        width: 150px;
    }

    .headerdetails  {

        width: 230px;
    }
    
}

@media screen and (max-width: 967px) {
    
    .headerdiv {

        height: 65px;
    }
}

@media screen and (max-width: 765px) {
    
    .headerdiv {

        height: 60px;
    }
}

@media screen and (max-width: 575px) {
    
     
}

