.sale-banner {

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 36px;
}

.sale-banner h1, .sale-banner a {

    color: white;
    text-decoration: none;
}

.shop_now {

    position: relative;

}

.shop_now::after {

    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 0%;
    background-color: white;
    transition: all 0.7s ease;
}

.shop_now:hover::after {

    width: 100%;
}

.centercontainer {

    display: flex;
    justify-content: center;
}

.maincontainer {

    min-width: 1350px;
}

.buttonCstm {

    background-color:#FFC934;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    border: 1px solid #FFC934;    

}

.buttonCstm:hover {

    box-shadow: inset 0px 70px 0px 0px white;
    border: 1px solid #FFC934;    
}

.buttoncstm_withicon {

    display: flex;
    align-items: center !important;
    gap: 6px;
    justify-content: center;
}

.buttoncstm_withicon span {

    display: flex;
    align-items: center;
}

.details-icon {

    display: none;
}

@media screen and (max-width: 1500px) {
    

    .maincontainer {

        min-width: 1150px;
    }
}

@media screen and (max-width: 1199px) {
    
    .maincontainer {

        min-width: 950px;
    }
}

@media screen and (max-width: 991px) {
    
    .sale-banner {

        height: 32px;
        gap: 6px;
    }

    .maincontainer {

        min-width: 100%;
    }

    .centercontainer {

        width: 100%;
        padding: 0px 20px;
    }
}

@media screen and (max-width: 765px) {
    
    .sale-banner {

        height: 24px;
        gap: 4px;
    }

    .buttonCstm {

        padding: 8px 12px;
    }
}

@media screen and (max-width: 575px) {
    
    .sale-banner {

        height: 18px;
        gap: 4px;
    }

    .centercontainer {

        padding: 0px 15px;
    }

    .buttonCstm {

        padding: 6px 12px;
    }
}

