.sale-banner {

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 36px;
}

.sale-banner h1, .sale-banner a {

    color: white;
    text-decoration: none;
}

.shop_now {

    position: relative;

}

.shop_now::after {

    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 0%;
    background-color: white;
    transition: all 0.7s ease;
}

.shop_now:hover::after {

    width: 100%;
}

@media screen and (max-width: 967px) {
    
    .sale-banner {

        height: 32px;
        gap: 6px;
    }
}

@media screen and (max-width: 765px) {
    
    .sale-banner {

        height: 24px;
        gap: 4px;
    }
}

@media screen and (max-width: 575px) {
    
    .sale-banner {

        height: 18px;
        gap: 4px;
    }
}

